streamlit==1.35.0
streamlit-tags==1.2.8

pandas==2.2.2
numpy==1.26.4
plotly==5.22.0

Pillow==10.3.0

pdfminer3==2018.12.3.0
pdfminer.six==20221105
docx2txt==0.8

spacy==3.7.4
thinc==8.2.3
blis==0.7.11
srsly==2.4.8
catalogue==2.0.10
typer==0.9.4
smart-open==6.4.0
pydantic==1.10.15

nltk==3.8.1
pyresparser==1.0.6

matplotlib==3.8.4

PyMySQL==1.1.1

geopy==2.4.1
geocoder==1.38.1

GitPython==3.1.43

requests==2.31.0
urllib3==2.2.1

scikit-learn==1.4.2

protobuf==4.25.3

watchdog==4.0.0